<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title><%=title%></title>
</head>

<body>
    <form method="POST" action="/admin/label/commit">
        <label for="inputLabel">标签：</label>
        <input id="inputLabel" type="text" name="name"/><br/>
        <label for="inputLabel">类型：</label>
        <input id="inputType" type="text" name="type"/><br/>
        <button>提交</button>
    </form>
</body>

</html>