// @font-face {
//   font-family: 'blog-icon';
//   src:  url('../fonts/blog-icon.eot?jxfkzu');
//   src:  url('../fonts/blog-icon.eot?jxfkzu#iefix') format('embedded-opentype'),
//     url('../fonts/blog-icon.ttf?jxfkzu') format('truetype'),
//     url('../fonts/blog-icon.woff?jxfkzu') format('woff'),
//     url('../fonts/blog-icon.svg?jxfkzu#blog-icon') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'blog-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-author:before {
  content: "\e90a";
}
.icon-calendar:before {
  content: "\e90b";
}
.icon-category:before {
  content: "\e90c";
}
.icon-coding-program:before {
  content: "\e90d";
}
.icon-coffee:before {
  content: "\e90e";
}
.icon-framework:before {
  content: "\e90f";
}
.icon-github:before {
  content: "\e910";
}
.icon-notice:before {
  content: "\e911";
}
.icon-random:before {
  content: "\e912";
}
.icon-return:before {
  content: "\e913";
}
.icon-search:before {
  content: "\e914";
}
.icon-tag:before {
  content: "\e915";
}
.icon-user:before {
  content: "\e916";
}
.icon-version:before {
  content: "\e917";
}
.icon-wechat:before {
  content: "\e918";
}
.icon-weibo:before {
  content: "\e919";
}
.icon-add_circle:before {
  content: "\e900";
}
.icon-arrow_lift:before {
  content: "\e901";
}
.icon-check_circle:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e903";
}
.icon-favorite:before {
  content: "\e904";
}
.icon-keyboard_arrow_right:before {
  content: "\e905";
}
.icon-remove_circle_outline:before {
  content: "\e906";
}
.icon-shopping_cart:before {
  content: "\e907";
}
.icon-thumb_down:before {
  content: "\e908";
}
.icon-thumb_up:before {
  content: "\e909";
}
